#Local host only checks, all other

define host {
    use generic-host
    host_name nagios
    alias nagios.openrepose.org
    address 127.0.0.1
}

#Creating an aggregation service dependent upon check_check from ruby-nagios!
# THIS SERVICE IS SPECIAL AND OVERRIDES LOTS OF GENERIC SETTINGS
define service {
    use generic-service
    host_name nagios
    contact_groups repose
    service_description Aggregate Infrastructure Status
    normal_check_interval 1 ;Cost is cheap, do it every minute
    max_check_attempts 1 ; NO SOFT DOWN!
    notification_interval 60 ;Once an hour
    check_command aggregate_check
}
#END OF SPESHUL SERVICE

define service {
    use generic-service
    host_name nagios
    service_description Disk Space
    check_command check_all_disks!20%!10%
}

define service {
    use generic-service
    host_name nagios
    service_description Total Processes
    check_command check_procs!250!400
}

define service {
    use generic-service
    host_name nagios
    service_description Current Load
    check_command check_load!5.0!4.0!3.0!10.0!6.0!4.0
}

define service {
    use generic-service
    host_name nagios
    check_command check_debian_packages
    service_description Debian Package Status
}

define service {
    use generic-service
}

#TODO: update local nagios checks to include "nrpe" checks